:root {
    --theme-color: #FFFDF0;
    --text-color: #030007;
    --moon-color: #FFBA08;
    --hide-img: none;
    --show-img: flex;
}



h2 {
    font-size: 30px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--theme-color);
    display: grid;
    grid-template-columns: 5% 25% 25% 30% 15%;
    grid-template-rows: 2% 20% 58% 15% 6%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: navbar;
}

.navbar a {
    color: var(--text-color);
    font-size: 24px;
}

.aboutmain {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "pic content"
    "pic content";
}

.main {
    word-wrap: break-word;
    color: var(--text-color);
    grid-area: main;
}

.profile-pic {
    grid-area: pic;
}

.picture {
    max-width: 100%;
}

.content {
    grid-area: content;
    margin-top: -10%;
}

.name {
    display: flex;
    font-size: 120px;
    padding: 0px;
    margin: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text-color);
    grid-area: name; 
    font-family: 'Finger Paint', cursive;
}

/* button {
    width: 10%;
    height: 100%;
    font-size: 18px;
    background-color: var(--text-color);
    color: var(--theme-color);
    border: 0px;
    overflow: hidden;
} */

button:hover {
    background-color: #FFBA08;
}

a {
    font-size: 24px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
    border-bottom: 10px solid var(--text-color);
}

p {
    font-size: 1.05em;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    max-height: auto;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.resume-title {
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-main {
    display: flex;
    justify-content: center;
}

textarea {
    width: 400px;
    height: 200px;
}

input {
    width: 295px;
}

.sun {
    height: 150px;
    width: 150px;
    background-color: #FFBA08;
    border-radius: 50%;
    display: inline-block;
    grid-area: sun;
    margin-left: 10%;
    margin-top: 10%;
}

.moon {
    height: 112px;
    width: 112px;
    background-color: var(--moon-color);
    border-radius: 50%;
    display: inline-block;
    grid-area: sun;
    margin-left: 12.5%;
    margin-top: 12.5%;
    color: var(--moon-color);
}

.moon:hover {
    background-color: var(--moon-color);
    color: var(--text-color);
}

.tree {
    display: var(--show-img);
    justify-content: flex-end;
    align-items: flex-start;
    grid-area: tree;
    margin-top: -3em;
    margin-left: -5em;
}

.tree2 {
    margin-top: 10px;
    margin-left: 10px;
    display: var(--hide-img);
    overflow: hidden;
}

.submit {
    background-color: #FFBA08;
    width: 30%;
}

.resume {
    height: 100%;
    overflow-y: scroll;
    word-wrap: break-word;
    border: 1px solid var(--text-color);
}

.hidden {
    display: none;
}

.links {
    background-color: var(--text-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: links;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color);
    width: 12%;
    height: 100%;
    font-size: 18px;
    border: 0px;
    overflow: hidden;
}

.links a:hover {
    background-color: #FFBA08;
}

.set {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.set img {
    position: absolute;
    display: block;
    overflow: hidden;
}

.set img:nth-child(1) {
    left: 30%;
    animation: animate1 12s linear infinite;
}

.set img:nth-child(2) {
    left: 45%;
    animation: animate1 13s linear infinite;
}

.set img:nth-child(3) {
    left: 52%;
    animation: animate1 10s linear infinite;
}

.set img:nth-child(4) {
    left: 71%;
    animation: animate1 20s linear infinite;
}

.set img:nth-child(5) {
    left: 103%;
    animation: animate2 15s linear infinite;
}

.set img:nth-child(6) {
    left: 141%;
    animation: animate2 10s linear infinite;
}

.set img:nth-child(7) {
    left: 171%;
    animation: animate2 8s linear infinite;
}

.set img:nth-child(8) {
    left: 214%;
    animation: animate2 14s linear infinite;
}

@keyframes animate1 {
    0% {
        top: -10%;
        opacity: 1;
    }
    50% {

    }
    100% {
        top: 90%;
        left: -20%;
    }
}

@keyframes animate2 {
    0% {
        top: -20%;
        opacity: 1;
    }
    50% {

    }
    100% {
        top: 90%;
        left: 40%;
    }
}

@media only screen and (min-width: 576px) {
    body {
        width: 100vw;
        height: 100vh;
        grid-template-areas:
        ". . . . sun"
        ". name name navbar ."
        ". main main tree tree"
        ". . . tree tree"
        "links links links links links";
    }
}

@media only screen and (max-width: 576px) {
    body {
        width: 100vw;
        height: 1500px;
        grid-template-columns: 10% 35% 10% 35% 10%;
        grid-template-rows: 13% 15% 10% 25% 33% 4%;
        grid-template-areas: 
            ". sun . tree tree"
            ". name name name ."
            ". . . navbar ."
            ". main main main ."
            ". main main main ."
            "links links links links links";
        overflow-x: hidden;
        overflow-y: visible;
    }

    .navbar {
        margin-top: -20%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .contact-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .resume-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .aboutmain {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "pic pic"
        "content content";
    }

    textarea {
        width: 300px;
        height: 200px;
    }
    
    input {
        width: 195px;
    }

    .sun {
        margin-left: 1%;
    }

    .moon {
        margin-left: 3%;
        margin-top: 14%;
        z-index: 1;
    }

    .content {
        margin-top: -30%;
    }

    .tree {
        margin-top: -140%;
        margin-left: -108%;
    }

    .tree img {
        position: relative;
        z-index: 0;
    }

    .links a {
        width: 100%;
    }

    .resume {
        height: 80%;
    }

    .set img {
        overflow: hidden;
    }

    .set img:nth-child(1) {
        animation: animate1 20s linear infinite;
    }
    
    .set img:nth-child(2) {
        animation: animate1 18s linear infinite;
    }
    
    .set img:nth-child(3) {
        animation: animate1 22s linear infinite;
    }
    
    .set img:nth-child(4) {
        animation: animate1 27s linear infinite;
    }
    
    .set img:nth-child(5) {
        animation: animate2 21s linear infinite;
    }
    
    .set img:nth-child(6) {
        animation: animate2 20s linear infinite;
    }
    
    .set img:nth-child(7) {
        animation: animate2 24s linear infinite;
    }
    
    .set img:nth-child(8) {
        animation: animate2 19s linear infinite;
    }

    @keyframes animate1 {
        0% {
            top: -10%;
        }
        100% {
            top: 190%;
            left: -50%;
        }
    }
    
    @keyframes animate2 {
        0% {
            top: -20%;
        }
        100% {
            top: 190%;
            left: 30%;
        }
    }
}



